[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-adac-traffic
Exec=harbour-adac-traffic
Name=Traffic News
Name[de]=Verkehrsmeldungen

[X-HarbourBackup]
BackupPathList=.local/share/harbour-adac-traffic/
BackupConfigList=/apps/harbour-adac-traffic/

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-adac-traffic
Permissions=Internet